.red, .blue, .yellow {
	border: 1px solid black;
	box-sizing: content-box;
}

#redBlueContainer {
	justify-content: space-between;
	flex-direction: row;
	/*display: flex;*/
}

#redContainer {
	justify-content: space-around;
	flex-direction: column;
	align-items: flex-start;
}

#blueContainer {
	justify-content: space-around;
	flex-direction: column;
	align-items: flex-end;
}

.red {
	background-color: red;
	height: 100px;
	width: 100px;
	display: flex;
}


.blue {
	background-color: blue;
	height: 100px;
	width: 400px;
	display: flex;
}

.yellow {
	background-color: yellow;
	height: 100px;
	width: 600px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}