body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: flex-start;
}

button {
	border: 2px solid black;
	font-size: larger;
	background-color: yellow;
	border-radius: 10%;
	height: 10vh;
	width: 10vw;
	margin-left: 5vw;
}

#red {
	width: 20vw;
	height: 20vh;
	display: flex;
	margin-left: 0vw;
}

#green {
	width: 20vw;
	height: 20vh;
	display: flex;
	margin-left: 0vw;
}